*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
#header-area{
  background-color: #1F2937;
  color:white;
  display: flex;
  flex: 1;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
#logo-area{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: fit-content;
}
.nav-area{
  display: flex;
  flex:1;
}
ul{
  display: flex;
  flex: 1;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  width: 35%;
  
}
a{
  text-decoration: none;
  color: white;
}